body{
    width: 100%;
    height: 2000px;
   
}

header{
    background-color:#199621;
    border:1px solid #199621;
    height: 110px;
    width: 100%;
    display:flex;
    flex-direction: column;
}
header h1{
    color:#faac03;
    font-family: 'Eras Bold ITC','sans serif';
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    margin:0;
    margin-top:1%;
}

.menu{
    width: 80%;
    margin: auto;
    margin-top: 2%;
    background-color:  #f5d0ed;
    background: linear-gradient( to bottom, #ecc9c4,#fde6e1);  
}
.presentation{
    text-align: center;
    height: auto;
    font-size: 2.5rem;
    font-family: 'Brush Script MT';
}
.presentation i{
    margin-top: 3%;
    background: linear-gradient( to right, red,rgb(240, 140, 10));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


section{
    margin:0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 4%;
}

.titre{
    display:flex;
    flex-direction: row;
}
h2{
    margin:0;
    padding:0;
    width: 250px;
    margin-top: 3%;
    padding-bottom: 1%;
    font-family:Arial;
    text-align: center;
    font-size: 1.8rem;
}

   
h3{
    width: 250px;
    border-bottom:10px solid black; 
    margin-left: 10%; 
    margin-right: 6%;
}

.aside{
    flex-direction: column;
    padding:0;
    margin:0;

}

.ligne{
    display: flex;
    flex-direction: row;
}
.texte{
    width:70%;
}

.texte p{
    font-size: 1.5rem;
    font-family: 'Brush Scipt MT';
    margin-left:14%;
}
.prix{
    width: 30%;
}
.prix p{
    font-size: 1.5rem;
    margin-right:50%;
    text-align: right;
}

footer{
    background-color:white;
    width: 100%;
    position: fixed;
    right:0px;
    left:0px;
    bottom:0px;
   
  
}

.bouton_prochainement{
    width: 16%;
    margin: auto;
    text-align: center;
    background-color:rgb(7,102,16);
    border:2px solid rgb(7,102,16);
    border-radius: 10px;
}

.bouton_prochainement a{
    color:#faac03;
    text-decoration: none;
    font-size: 2rem;
    padding-right: 2%;   
}


.one{             /*animation trois points*/
    opacity: 0;
    -webkit-animation: dot 3s infinite;
    -webkit-animation-delay: 0.5s;
    animation: dot 2s infinite;
    animation-delay: 0.5s;
}

.two{
    opacity: 0;
    -webkit-animation: dot 3s infinite;
    -webkit-animation-delay: 1s;
    animation: dot 2s infinite;
    animation-delay: 1s;
}

.three{
    opacity: 0;
    -webkit-animation: dot 3s infinite;
    -webkit-animation-delay: 1.5s;
    animation: dot 2s infinite;
    animation-delay: 1.5s;
}
}
@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.bandeau_bas{   /*bande du bas mentions et contact*/
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}


.bouton_mentions{
    width: 50%;
    background-color:rgb(7,102,16);
    border:2px solid rgb(7,102,16);
    flex-direction: row;
    padding-left: 1%;  
}
.bouton_mentions a{
    text-decoration: none;
}

.bouton_mentions h5{
    color:#faac03;
    font-size: 1.5rem; 
    transition-duration: 0.3s;
    transition-delay: 0.2s;
    transition-property: transform;
    transition-timing-function: ease;
    font-family: Arial;
}
.bouton_mentions h5:hover{
    transform:translateX(200px);
}



.bouton_contact{
    width: 50%;
    text-align: center;
    background-color:rgb(7,102,16); 
    border:2px solid rgb(7,102,16);
    flex-direction: row;
    text-align:right;
}
.bouton_contact a{
    text-decoration: none;
} 
.bouton_contact h5{
    color:#faac03;
    font-size: 1.5rem; 
    transition-duration: 0.3s;
    transition-delay: 0.2s;
    transition-property: transform;
    transition-timing-function: ease;
    font-family: Arial;
}
.bouton_contact h5:hover{
    transform:translate(-200px,0px);
}
.final{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.final i{
    margin-top: 4%;
    background: linear-gradient( to right, red,rgb(240, 140, 10));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-left:25%;
}

.final p{
    width: 10%;
    margin-left:30%;
}    
.final h1{
    width: 30%;
    font-size: 2.5rem;
    font-family: 'Brush Script MT';
}