@font-face{
    font-family: 'Alex Brush';src:url('../fonts/AlexBrush-Regular.ttf');
}
@font-face{
    font-family: 'Bradley Hand ITC';src:url('../fonts/bradhitc.ttf');
}
@font-face{font-family: 'Eras Bold';src:url('../fonts/ERASBD.TTF');/*font pour ohmyfood*/
}
body{
    margin:0px;padding:0px;width: 100%;height: auto;
}
header{
    width:80%;margin:auto;background-color:rgb(87, 156, 135);border-bottom:3px solid rgb(161, 193, 129);height: 150px; 
}
header h3{
    color:rgb(253, 203, 70);font-family: 'Eras Bold';text-align: center;font-size: 3.5rem;margin:0px;padding-top: 2%;
}
header a{
    text-decoration: none;
}
p{
    width: 100%;text-align: center;font-size: 1.5rem;
}
.menu{
    width: 80%;margin: auto;margin-top: 2%;background-color:  rgb(249, 249, 249);padding-bottom: 300px;
}
.presentation{
    text-align: center;height:300px;width:80%;margin:auto;font-size: 3.5rem; background: linear-gradient( to right,rgb(4, 49, 223), rgb(61, 159, 250), rgb(108, 178, 249));background-clip: text;-webkit-background-clip: text;color:transparent;
    padding-top: 15%;
}
.presentation h1{
    margin:0px;padding:0px;font-family: 'Alex Brush';
}

section{
    margin:0;display: flex;flex-direction: column;width: 90%;padding-bottom: 4%;margin-left: 5%;margin-right: 5%;
}
.titre{
    display:flex;flex-direction: row;width: 100%;padding-bottom: 25px;padding-top: 25px;
}
.entree h2{
    margin:0;padding:0;margin:auto;width: 509px;font-family:'Bradley Hand ITC';font-weight: bold;text-align: center;font-size: 1.9rem;
}
.entree h2{
    text-decoration: none;
    background:linear-gradient(to top, rgba(4, 49, 223, 1) 0%, rgba(4, 49, 223, 1) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;transition: background-size .5s;
}
.entree h2:hover {
    background-size: 100% 100%;
}
.motif1{
    width: 315px;height: 6px;border-bottom:10px solid rgb(4, 49, 223);border-bottom-right-radius: 8px;border-bottom-left-radius: 22px;margin-top:10px; 
}
.motif2{
    width: 315px;height: 6px;border-bottom:10px solid rgb(4, 49, 223);border-bottom-left-radius: 8px;border-bottom-right-radius: 22px;margin-top: 10px;
}
.plat h2{
    text-decoration: none;margin:0;padding:0;margin:auto;width: 509px;font-family:'Bradley Hand ITC';font-weight: bold;text-align: center;font-size: 1.9rem;
    background:linear-gradient(to top, rgba(61, 159, 250, 1) 0%, rgba(61, 159, 250, 1) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;transition: background-size .5s;
} 
.plat h2:hover {
    background-size: 100% 100%;
}
.motif3{
    width: 315px;height: 6px;border-bottom:10px solid rgb(61, 159, 250);border-bottom-right-radius: 8px;border-bottom-left-radius: 22px;margin-top: 10px; 
}
.motif4{
    width: 315px;height: 6px;border-bottom:10px solid rgb(61, 159, 250);border-bottom-left-radius: 8px;border-bottom-right-radius: 22px;margin-top: 10px;
}
.dessert h2{
    text-decoration: none;margin:0;padding:0;margin:auto;width: 509px;font-family:'Bradley Hand ITC';font-weight: bold;text-align: center;font-size: 1.9rem;
    background:linear-gradient(to top, rgba(108, 178, 249, 1) 0%, rgba(108, 178, 249, 1) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;transition: background-size .5s;
}
.dessert h2:hover {
    background-size: 100% 100%;
}
.motif5{
    width: 315px; height: 6px;border-bottom:10px solid rgb(108, 178, 249);border-bottom-right-radius: 8px;border-bottom-left-radius: 22px;margin-top: 10px;
}
.motif6{
    width: 315px; height: 6px;border-bottom:10px solid rgb(18, 178, 249);border-bottom-left-radius: 8px;border-bottom-right-radius: 22px;margin-top: 10px; 
}
.ligne{
    display: flex;flex-direction: row;
}
.texte{
    width:1019px;padding-left: 80px;
}
.texte p{
    font-size: 1.5rem;text-align: left;font-family: 'Bradley Hand ITC';font-weight: bold;
}
.prix{
    width: 120px;padding-right: 80px;
}
.prix p{
    font-size: 1.5rem;font-family: 'Bradley Hand ITC';font-weight: bold;text-align: right;
}
footer{
    background-color:white;width: 100%;height:180px;position: fixed;right:0px;left:0px;bottom:0px;
}
.bande_blanche{
    background-color:white;width: 100%;height:80px;
    }
.bandeau_bas{   /*bande du bas mentions et contact*/
    display: flex;flex-direction: row;width:80%;height:100px;margin:auto;
}
.bouton_mentions{
    padding:0;width: 50%;background-color:rgb(87, 156, 135);border-top:3px solid rgb(161, 193, 129);flex-direction: row;text-align: left;
}
.bouton_mentions a{
    text-decoration: none;
}
.bouton_mentions h5{
    color:rgb(253, 203, 70);font-size: 1.5rem;font-family: Arial;width: 90%;text-align: left;margin:auto;padding-top: 25px;
}
.bouton_mentions h5:hover{
    animation: shake 0.80s cubic-bezier(.36,.07,.19,.97) both; 
    transform: translate3d(0, 0, 0); 
    backface-visibility: hidden; 
    perspective: 1000px; 
}

@keyframes shake { 
    10%, 90% { 
    transform: translate3d(-1px, 0, 0); 
    } 
  
    20%, 80% { 
    transform: translate3d(2px, 0, 0); 
    } 
  
    30%, 50%, 70% { 
    transform: translate3d(-4px, 0, 0); 
    } 
  
    40%, 60% { 
    transform: translate3d(4px, 0, 0); 
    } 
  } 
.bouton_contact{
    width: 50%;text-align: center;background-color:rgb(87, 156, 135);border-top:3px solid rgb(161, 193, 129);flex-direction: row;text-align:right;
}
.bouton_contact a{
    text-decoration: none;
} 
.bouton_contact h5{
    color:rgb(253, 203, 70);font-size: 1.5rem;font-family: Arial;width: 90%;text-align: right;margin:auto;padding-top: 25px; 
}
.bouton_contact h5:hover{
    animation: shake 0.80s cubic-bezier(.36,.07,.19,.97) both; 
    transform: translate3d(0, 0, 0); 
    backface-visibility: hidden; 
    perspective: 1000px; 
}
/*__________________________________________________________________________________________________________________________________*/
@media all and (max-width:1024px){
    body{
        margin:0;padding:0;
    }
    header{
        width:100%;height: 90px;display:flex;flex-direction: column;
    }
    header h1{
        text-align: center;font-size: 3rem;margin:0;margin-top: 10px;
    }
    .menu{
        width: 90%; height: auto;margin-left:5%;margin-bottom:0;
    }
    .presentation{
        height: 200px;
    }
    .presentation h1{
        padding-top:20%;text-align: center;margin:auto;font-size: 2.5rem;
    }
    section{
        width: 90%;
    }
    .titre{
        display:flex;flex-direction: row;width: 100%;padding-bottom: 2%;margin:auto;
    }
    .entree h2{
        text-align: center;font-size: 1.5rem;padding:0;
    }
    .plat h2{
        text-align: center;font-size: 1.5rem;padding:0;
    }
    .dessert h2{
        text-align: center;font-size: 1.5rem;padding:0;
    }
    .texte{
        margin:0; padding:0;width:80%;
    }
    .texte p{
        font-size: 1rem;
    }
    .prix{
        padding:0;width: 20%;
    }
    .prix p{
        font-size: 1rem;
    }
    footer{
        background-color:white;width: 100%;height:160px;position: fixed;right:0px;left:0px;bottom:0px;
    }
    .bande_blanche{
        background-color:white;width: 100%;height:80px;
        }
    .bandeau_bas{   /*bande du bas mentions et contact*/
        display: flex;flex-direction: row;width:100%;margin:0px;height:80px;
    }
    .bouton_mentions{
        padding:0;width: 50%;padding-left: 2%;text-align: left;
    }
    .bouton_mentions a{
        padding:0;
    }
    .bouton_mentions h5{
        padding:0;margin:0;font-size: 1rem;font-family: Arial;padding-top: 25px;
    }
    .bouton_mentions h5:hover{
        transform:translateX(0px);
    }
    .bouton_contact{
        width: 50%;text-align: center;padding-right: 2%;flex-direction: row;text-align:right;
    }
    .bouton_contact a{
        text-decoration: none;padding:0;
    } 
    .bouton_contact h5{
        padding:0;margin:0;font-size: 1rem;font-family: Arial;padding-top: 25px; 
    }
    .bouton_contact h5:hover{
        transform:translate(0px,0px);
    }
}


