@font-face{
    font-family: 'Croissant One';
    src:url('../fonts/croissantone-regular.ttf');
}



body{
    width: 100%;
    height: auto; 
}

header{
    background-color:rgb(7,102,16);border:1px solid rgb(7,102,16);
    height: 150px;width: 100%;
    display:flex;flex-direction: column;
}
header h1{
    color:#faac03;
    font-family: 'Cooper Black','sans serif';font-weight: bold;
    text-align: center;font-size: 3.5rem;
    margin:0;margin-top:2%;
}

.menu{
    width: 80%;
    margin: auto;margin-top: 2%;
    background-color:  #fcf6fb;padding-bottom: 15%;
}
.presentation{
    height: 450px;
    background: linear-gradient( to right,rgb(211,140,48),rgb(145, 60, 145),rgb(39, 84, 182));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Croissant One';font-weight: bold;font-size: 40px;
    width: 80%;margin-left:10%;
    margin-top:2% ;
}

.presentation h1{
    padding-top: 20%;text-align: center;
}

section{
    margin:0;
    display: flex;flex-direction: column;
    width: 100%;padding-bottom: 4%;
}

.titre{
    display:flex;flex-direction: row;
    padding-bottom: 2%;
}
#soulignebar1 {
    width: 43%;
    height: 6px;
    border: 1px solid  #fcf6fb;
    border-radius:7px;
    padding: 4px;
    margin-left:430px;
}
#progress1 {
    width: 70%;
    background-color:rgb(211,140,48);
    height: 100%;
    border-radius: 7px;
    border-color:rgb(211,140,48);
    animation-name: soulignebar1;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes soulignebar1 {
    0% {
    width: 5%;
    }
    
    100%  {
    width: 80%;
    }   
}
#soulignebar2 {
    width: 43%;
    height: 6px;
    border: 1px solid #fcf6fb ;
    border-radius:7px;
    padding: 4px;
    margin-left:430px;
}
#progress2 {
    width: 70%;
    background-color:rgb(145, 60, 145);
    height: 100%;
    border-radius: 7px;
    border-color:rgb(145, 60, 145);
    animation-name: soulignebar2;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes soulignebar2 {
    0% {
    width: 5%;
    }
    
    100%  {
    width: 80%;
    }   
}

#soulignebar3 {
    width: 43%;
    height: 6px;
    border: 1px solid #fcf6fb ;
    border-radius:7px;
    padding: 4px;
    margin-left:430px;
}
#progress3 {
    width: 70%;
    background-color:rgb(39, 84, 182);
    height: 100%;
    border-radius: 7px;
    border-color:rgb(39, 84, 182);
    animation-name: soulignebar3;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes soulignebar3 {
    0% {
    width: 5%;
    }
    
    100%  {
    width: 80%;
    }   
}

h2{
    margin:0;padding:0;
    width: 320px;margin-top: 1%;padding-bottom: 1%;
    font-family:'Brush Scipt MT';text-align: center;font-size: 1.8rem;
}

   
h3{
    width: 0;height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 400px solid rgb(211,140,48); 
    margin-left:3%; margin-right:3%;
}
h4{
    width: 0;height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 400px solid rgb(211,140,48);  
    margin-left: 3%; margin-right: 3%;
}

.section{
    flex-direction: column;
    padding:0;margin:0;
}
.entree{
    color:rgb(211,140,48);
    padding-bottom: 3%;
}
.plat{
    color:rgb(145, 60, 145);
    padding-bottom: 3%;
}
.dessert{
    color:rgb(39, 84, 182);
    padding-bottom: 15%;
}
.ligne{
    display: flex;
    flex-direction: row;
}
.texte{
    width:70%;
}
.texte p{
    font-size: 1.5rem;
    font-family: 'Brush Scipt MT';
    margin-left:14%;
}
.prix{
    width: 30%;
}
.prix p{
    font-size: 1.5rem;
    margin-right:50%;
    text-align: right;
}

footer{
    background-color:white;
    width: 100%;
    position: fixed;
    right:0px;
    left:0px;
    bottom:0px;
}

.bouton_prochainement{
    width: 16%;
    margin: auto;text-align: center;
    background-color:rgb(7,102,16);border:2px solid rgb(7,102,16);border-radius: 10px;
}

.bouton_prochainement a{
    color:#faac03;
    text-decoration: none;font-size: 2rem;padding-right: 2%;   
}


.one{             /*animation trois points*/
    opacity: 0;
    -webkit-animation: dot 3s infinite;
    -webkit-animation-delay: 0.5s;
    animation: dot 2s infinite;
    animation-delay: 0.5s;
}

.two{
    opacity: 0;
    -webkit-animation: dot 3s infinite;
    -webkit-animation-delay: 1s;
    animation: dot 2s infinite;
    animation-delay: 1s;
}

.three{
    opacity: 0;
    -webkit-animation: dot 3s infinite;
    -webkit-animation-delay: 1.5s;
    animation: dot 2s infinite;
    animation-delay: 1.5s;
}
}
@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.bandeau_bas{   /*bande du bas mentions et contact*/
    display: flex;flex-direction: row;
    margin-top: 1%;padding-bottom: 0%;
}


.bouton_mentions{
    width: 50%;text-align: center;
    background-color:rgb(7,102,16);border:2px solid rgb(7,102,16);
    flex-direction: row;
    text-align: left;padding-left: 1%;
}
.bouton_mentions a{
    text-decoration: none;
}

.bouton_mentions h5{
    color:#faac03;
    font-size: 1.5rem; 
    transition-duration: 0.3s;
    transition-delay: 0.2s;
    transition-property: transform;
    transition-timing-function: ease;
    font-family: Arial;
}
.bouton_mentions h5:hover{
    transform:translateX(200px);
}



.bouton_contact{
    width: 50%;text-align: center;
    background-color:rgb(7,102,16); border:2px solid rgb(7,102,16);
    flex-direction: row;
    text-align:right;padding-right: 1%;
}
.bouton_contact a{
    text-decoration: none;
} 
.bouton_contact h5{
    color:#faac03;
    font-size: 1.5rem; 
    transition-duration: 0.3s;
    transition-delay: 0.2s;
    transition-property: transform;
    transition-timing-function: ease;
    font-family: Arial;
}
.bouton_contact h5:hover{
    transform:translate(-200px,0px);
}
.final{
    display: flex;flex-direction: row;
    text-align: center;
}

.final i{
    margin-top: 4%;
    background: linear-gradient( to right, red,rgb(240, 140, 10));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-left:25%;
}

.final p{
    width: 10%;
    margin-left:30%;
}    
.final h1{
    width: 30%;
    font-size: 2.5rem;font-family: 'Brush Script MT';
}