@font-face{
    font-family: 'Alex Brush';
    src:url('../fonts/AlexBrush-Regular.ttf');
    font-family: Kaushan Script;
    src:url('../fonts/KaushanScript-Regular.otf');
    
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
   
}


header{
    background-color:#199621;
    border:1px solid #199621;
    height: 150px;
    display:flex;
    flex-direction: column;
}
header h1{
    color:#faac03;
    font-family: 'Cooper Black', sans-serif;
    text-align: center;
    font-size: 3.5rem;
    margin:0;
    margin-top: 2%;
}

.menu{
    width: 80%; height: 2000px;
    margin: auto;
    margin-top: 2%;
    background-color:  white;  
    
}
.presentation{
    text-align: center;
    height: 20%;
    font-size: 3rem;font-family: 'Kaushan Script';
}
.presentation h1{
    margin-top: 5%; padding-top: 10%;
    background: linear-gradient( to right,rgb(71, 124, 9),rgb(213, 241, 167));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

section{
    margin:0;
    display: flex;flex-direction: column;
    width: 100%;padding-bottom: 4%;
}

.titre{
    display:flex;flex-direction: row;
}

#soulignebar1 {
    width: 40%;
    height: 6px;
    border: 1px solid white;
    border-radius:7px;
    padding: 4px;
    margin-left:450px;margin-bottom: 2%;
}
#progress1 {
    width: 70%;
    background-color:rgb(71, 124, 9);
    height: 100%;
    border-radius: 7px;
    border-color:rgb(71, 124, 9);
    animation-name: soulignebar1;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes soulignebar1 {
    0% {
    width: 5%;
    }
    
    100%  {
    width: 80%;
    }   
}
#soulignebar2 {
    width: 40%;
    height: 6px;
    border: 1px solid  white;
    border-radius:7px;
    padding: 4px;
    margin-left:450px;margin-bottom: 2%;
}
#progress2 {
    width: 70%;
    background-color:rgb(83, 143, 27);
    height: 100%;
    border-radius: 7px;
    border-color:rgb(83,143,27);
    animation-name: soulignebar2;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes soulignebar2 {
    0% {
    width: 5%;
    }
    
    100%  {
    width: 80%;
    }   
}
#soulignebar3 {
    width: 40%;
    height: 6px;
    border: 1px solid  white;
    border-radius:7px;
    padding: 4px;
    margin-left:450px;margin-bottom: 2%;
}
#progress3 {
    width: 70%;
    background-color:rgb(145, 212, 38);
    height: 100%;
    border-radius: 7px;
    border-color:rgb(145, 212, 38);
    animation-name: soulignebar3;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes soulignebar3 {
    0% {
    width: 5%;
    }
    
    100%  {
    width: 80%;
    }   
}

h2{
    margin:0;
    padding:0;
    width: 30%;
    margin-top: 1%;
    padding-bottom: 3%;
    font-family:'Bradley Hand ITC';
    text-align: center;
    font-size: 2rem;
}

section h3{
    width: 30%; height: 6px;
    margin-left: 5%; 
}   
section h4{
    width: 30%; height: 6px;
    margin-right: 5%;  
}



.entree{
    flex-direction: column;
    padding-bottom: 3%;
}


.ligne{
    display: flex;
    flex-direction: row;
}
.texte{
    width:70%;
}

.texte p{
    font-size: 1.5rem; font-weight: bold;
    font-family: 'Bradley Hand ITC',Arial;
    margin-left:14%;
}
.prix{
    width: 30%;
    font-family: 'Bradley Hand ITC'; font-weight: bold;
}
.prix p{
    font-size: 1.5rem;
    margin-right:50%;
    text-align: right;
}
footer{
    background-color:white;
    width: 100%;
    position: fixed;
    right:0px;
    left:0px;
    bottom:0px;
}
.bouton_prochainement{
    width: 16%;
    margin: auto;
    text-align: center;
    background-color:rgb(7,102,16);
    border:2px solid rgb(7,102,16);
    border-radius: 10px;
}

.bouton_prochainement a{
    color:#faac03;
    text-decoration: none;
    font-size: 2rem;
    padding-right: 3%;   
}


.one{             /*animation trois points*/
    opacity: 0;
    -webkit-animation: dot 3s infinite;
    -webkit-animation-delay: 0.5s;
    animation: dot 2s infinite;
    animation-delay: 0.5s;
}

.two{
    opacity: 0;
    -webkit-animation: dot 3s infinite;
    -webkit-animation-delay: 1s;
    animation: dot 2s infinite;
    animation-delay: 1s;
}

.three{
    opacity: 0;
    -webkit-animation: dot 3s infinite;
    -webkit-animation-delay: 1.5s;
    animation: dot 2s infinite;
    animation-delay: 1.5s;
}
}
@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.bandeau_bas{   /*bande du bas mentions et contact*/
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    width: 100%;
}


.bouton_mentions{
    width: 49%;
    margin:0;
    padding: 0;
    background-color:rgb(7,102,16);
    border:2px solid rgb(7,102,16);
    flex-direction: row;
    padding-left: 1%;  
}
.bouton_mentions a{
    text-decoration: none;
}

.bouton_mentions h5{
    color:#faac03;
    font-size: 1.5rem; 
    transition-duration: 0.3s;
    transition-delay: 0.2s;
    transition-property: transform;
    transition-timing-function: ease;
    font-family: Arial;
}
.bouton_mentions h5:hover{
    transform:translateX(200px);
}



.bouton_contact{
    margin:0;
    padding: 0;
    width: 49%;
    text-align: center;
    background-color:rgb(7,102,16); 
    border:2px solid rgb(7,102,16);
    flex-direction: row;
    text-align:right;
    padding-right: 1%;
}
.bouton_contact a{
    text-decoration: none;
} 
.bouton_contact h5{
    color:#faac03;
    font-size: 1.5rem; 
    transition-duration: 0.3s;
    transition-delay: 0.2s;
    transition-property: transform;
    transition-timing-function: ease;
    font-family: Arial;
}
.bouton_contact h5:hover{
    transform:translate(-200px,0px);
}
.final{
    display: flex;
    flex-direction: row;
    text-align: center; padding-top:2%;
}

.final p{
    width: 10%;
    margin-left:30%;
}    
.final h1{
    width: 30%;
    font-size: 2.5rem;
    font-family: 'Brush Script MT';
}
