@font-face{
    font-family: 'Croissant One';src:url('../fonts/croissantone-regular.ttf');/*font pour le titre du menu*/
}
@font-face{font-family: 'Eras Bold';src:url('../fonts/ERASBD.TTF');/*font pour ohmyfood*/
}
body{
    margin:0px;padding:0px;width: 100%;height: auto; 
}
header{
    padding:0px;margin:0px;background-color:rgb(87, 156, 135);border-bottom:3px solid rgb(161, 193, 129);height: 150px; width: 80%;margin:auto;
}
header h3{
    color:rgb(253, 203, 70);font-family: 'Eras Bold';text-align: center;font-size: 3.5rem;padding:0px;margin:0px;padding-top: 2%;
}
header a{
    text-decoration: none;
}
p{
    width: 100%;text-align: center;font-size: 1.5rem;
}
.menu{
    width: 80%;margin:auto;margin-top: 2%;background-color:  rgb(255,245,254);padding-bottom: 300px;
}
.presentation{
    font-family: 'Croissant One';font-weight: bold;font-size: 40px;width: 80%;margin:auto;margin-top:2% ;height: 400px;padding-top: 15%;text-align: center;
    background: linear-gradient( to right,rgb(199,116,18),rgb(157,98,219),rgb(204,172,252));
    background-clip: text;-webkit-background-clip: text;color:transparent;   
}
.presentation h1{
    margin:0px;padding:0px;width:100%;
}
section{
    margin:0;display: flex;flex-direction: column;width: 90%;margin:auto;
}
.titre{
    display:flex;flex-direction: row;width: 95%;padding-bottom: 2%;padding-left:60px;
}
.entree h2{
    margin:0;padding:0;padding-top:5px;width:40%;font-family:'Arial Script MT';text-align: center;font-size: 2rem;
}
.entree h2{
    text-decoration: none;background:linear-gradient(to top, rgba(199, 116, 18, 1) 0%, rgba(199, 116, 18, 1) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;transition: background-size .5s;
}
.entree h2:hover {
    background-size: 100% 100%;
}
.motif1{
    width: 0;height: 0;border-top: 10px solid transparent;border-top: 10px solid transparent;border-right: 285px solid rgb(199,116,18);margin-top: 20px;
}
.motif2{
    width: 0;height: 0;border-top: 10px solid transparent;border-top: 10px solid transparent;border-left: 285px solid rgb(199,116,18);margin-top: 20px;  
}
.plat h2{
    margin:0;padding:0;padding-top:5px;width: 40%;font-family:'Arial Script MT';text-align: center;font-size: 2rem;
}
.plat h2{
    text-decoration: none;background:linear-gradient(to top, rgba(157, 98, 219, 1) 0%, rgba(157, 98, 219, 1) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;transition: background-size .5s;
}
.plat h2:hover {
    background-size: 100% 100%;
}
.motif3{
    width: 0;height: 0;border-top: 10px solid transparent;border-top: 10px solid transparent;border-right: 285px solid rgb(157,98,219);margin-top: 20px;
}
.motif4{
    width: 0;height: 0;border-top: 10px solid transparent;border-top: 10px solid transparent;border-left: 285px solid rgb(157,98,219);margin-top:20px; 
}
.dessert h2{
    margin:0;padding:0;padding-top:5px;width: 40%;font-family:'Arial Script MT';text-align: center;font-size: 2rem;
}
.dessert h2{
    text-decoration: none;background:linear-gradient(to top, rgba(110, 76, 204, 1) 0%, rgba(110, 76, 204, 1) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;transition: background-size .5s;
}
.dessert h2:hover {
    background-size: 100% 100%;
}
.motif5{
    width: 0;height: 0;border-top: 10px solid transparent;border-top: 10px solid transparent;border-right: 285px solid rgb(110, 76, 204);margin-top:20px;
}
.motif6{
    width: 0;height: 0;border-top: 10px solid transparent;border-top: 10px solid transparent;border-left: 285px solid rgb(110, 76, 204) ;margin-top: 20px;
}
.section{
    flex-direction: column;padding:0;margin:0;
}
.entree{
    color:rgb(211,140,48);padding-top: 2%;
}
.plat{
    color:rgb(145, 60, 145);padding-top: 2%;
}
.dessert{
    color:rgb(39, 84, 182);padding-top: 2%;
}
.ligne{
    display: flex;flex-direction: row;
}
.texte{
    width:1000px;padding-left: 100px;
}
.texte p{
    width:70%;font-size: 1.5rem;text-align: left;font-family: 'Brush Scipt MT';
}
.prix{
    width: 139px;padding-right: 100px;
}
.prix p{
    font-size: 1.5rem;margin-right:50%;text-align: right;
}
footer{
    background-color:white;width: 100%;margin:auto;height:180px;position: fixed;right:0px;bottom:0px;
}
.bande_blanche{
background-color:white;width: 100%;height:80px;
}
.bandeau_bas{   /*bande du bas mentions et contact*/
    display: flex;flex-direction: row;width:80%;margin:auto;height:100px;
}
.bouton_mentions{
    padding:0;width: 50%;background-color:rgb(87, 156, 135);border-top:3px solid rgba(161, 193, 129);flex-direction: row;text-align: left;
}
.bouton_mentions a{
    text-decoration: none;
}
.bouton_mentions h5{
    color:rgb(253, 203, 70);font-size: 1.5rem;font-family: Arial;width: 90%;text-align: left;margin:auto;padding-top: 25px;transition-duration: 0.2s;transition-delay: 0.2s;transition-property: transform;transition-timing-function: ease-in-out;
}
.bouton_mentions h5:hover{
    animation: shake 0.80s cubic-bezier(.36,.07,.19,.97) both; 
    transform: translate3d(0, 0, 0); 
    backface-visibility: hidden; 
    perspective: 1000px; 
}

@keyframes shake { 
    10%, 90% { 
    transform: translate3d(-1px, 0, 0); 
    } 
  
    20%, 80% { 
    transform: translate3d(2px, 0, 0); 
    } 
  
    30%, 50%, 70% { 
    transform: translate3d(-4px, 0, 0); 
    } 
  
    40%, 60% { 
    transform: translate3d(4px, 0, 0); 
    } 
  } 
.bouton_contact{
    width: 50%;text-align: center;background-color:rgb(87, 156, 135);border-top:3px solid rgb(161, 193, 129);flex-direction: row;text-align:right;
}
.bouton_contact a{
    text-decoration: none;
} 
.bouton_contact h5{
    color:rgb(253, 203, 70);font-size: 1.5rem;font-family: Arial;width: 90%;text-align: right;margin:auto;padding-top: 25px;transition-duration: 0.2s;transition-delay: 0.2s;transition-property: transform;transition-timing-function: ease-in-out;  
}
.bouton_contact h5:hover{
    animation: shake 0.80s cubic-bezier(.36,.07,.19,.97) both; 
    transform: translate3d(0, 0, 0); 
    backface-visibility: hidden; 
    perspective: 1000px; 
}
/*___________________________________________________________________________________________________________________________________*/
@media all and (max-width:1024px){
    body{
        margin:0px;padding:0px;width: 100%;
    }
    header{
        width:100%;height: 90px;display:flex;flex-direction: column;
    }
    header h1{
        text-align: center;font-size: 3rem;margin:0px;margin-top: 10px;
    }
    .menu{
        width: 100%; height: auto;margin-top:2%;padding-bottom:200px;
    }
    .presentation{
        height: 180px;width: 80%;margin:auto;
    }
    .presentation h1{
        padding-top:20%;text-align: center;width:100%;font-family: 'Croissant One';font-weight: bold;font-size: 25px;
    }
    section{
        width: 100%;
    }
    .titre{
        display:flex;flex-direction: row;height:30px;margin-bottom:10px;padding:0px;width: 100%;
    }
    .entree{
        width: 100%;margin: 0px;padding: 0px;margin-left: 0px;
    }
    .entree h2{
        text-decoration:none;background:none;margin:auto;padding:0px;width: 50%;font-family:'Arial Script MT';text-align: center;font-size: 1rem;
    }
    .motif1{
        margin:0px;padding:0px;width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 115px solid rgb(199,116,18);margin-top: 12px;
    }
    .motif2{
        margin:0px;padding:0px;width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 115px solid rgb(199,116,18);margin-top: 12px;
    }
    .texte{
        padding:0px;width:80%;padding-left: 4%;
    }
    .texte p{
        font-size: 1rem;width: 100%;
    }
    .prix{
        padding:0px;width: 20%;padding-right: 4%;
    }
    .prix p{
        font-size: 1rem;
    }
    .plat{
        width: 100%;margin: 0px;padding: 0px;margin-left: 0px;
    }
    .plat h2{
        text-decoration:none;background:none;margin:auto;padding:0;width: 50%;font-family:'Arial Script MT';text-align: center;font-size: 1rem;
    }
    .motif3{
        margin:0px;padding:0px;width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 115px solid rgb(145, 60, 145);margin-top: 10px;
    }
    .motif4{
        margin:0px;padding:0px;width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 115px solid rgb(145, 60, 145);margin-top: 10px;
    }
    .dessert{
        width: 100%;margin: 0px;padding: 0px;margin-left: 0px;
    }
    .dessert h2{
        text-decoration:none;background:none;margin:auto;padding:0;width: 50%;font-family:'Arial Script MT';text-align: center;font-size: 1rem;
    }
    .motif5{
        margin:0px;padding:0px;width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 115px solid rgb(39, 84, 182);margin-top: 10px;
    }
    .motif6{
        margin:0px;padding:0px;width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 115px solid rgb(39, 84, 182);margin-top: 10px;
    }
    footer{
        background-color:white;width: 100%;height:160px;position: fixed;right:0px;left:0px;bottom:0px;
    }
    .bande_blanche{
        background-color:white;width: 100%;height:80px;
    }
    .bandeau_bas{ 
        display: flex;flex-direction: row;margin:0px;width:100%;height: 80px;
    }
    .bouton_mentions{
        padding:0;width: 50%;padding-left: 2%;text-align: left;
    }
    .bouton_mentions a{
        padding:0px;
    }
    .bouton_mentions h5{
        padding:0px;margin:0px;font-size: 1rem;font-family: Arial;padding-top: 25px;
    }
    .bouton_mentions h5:hover{
        transform:translateX(0px);
    }
    .bouton_contact{
        width: 50%;text-align: center;padding-right: 2%;flex-direction: row;text-align:right;
    }
    .bouton_contact a{
        text-decoration: none;padding:0px;
    } 
    .bouton_contact h5{
        padding:0px;margin:0px;font-size: 1rem;font-family: Arial;padding-top: 25px;
    }
    .bouton_contact h5:hover{
        transform:translate(0px,0px);
    }

}
@media all and (max-width:350px)
{
    .titre{
        width: 100%;
    }
    .entree h3, .plat h3, .dessert h3{
        margin:0px;padding:0px;width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 75px solid rgb(145, 60, 145);margin-top: 10px;
    }
    .entree h4, .plat h4, .dessert h4{
        margin:0px;padding:0px;width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 75px solid rgb(145, 60, 145);margin-top: 10px;
    }  
}






